
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212; /* Dark mode background */
    color: #ffffff;
}

header {
    text-align: center;
    padding: 10px 0;
    background-color: #1f1f1f; /* Darker background for the header */
}

footer {
    text-align: center;
    background-color: #1f1f1f; /* Darker background for the footer */
    position: fixed;
    bottom: 0;
    width: 100%;
}

.container {
    display: flex;
    height: calc(100vh - 170px); /* Adjust height considering header and footer */
    padding: 10px;
    box-sizing: border-box;
}

.sidebar-left,
.sidebar-right {
    width: 60%;
    padding: 10px;
    background-color: #222;
    overflow-y: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add shadow for card effect */
    margin: 10px;
    background-color: #1c1c1c; /* Slightly different color for card effect */
}

#player-search {
    width: 96%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #555;
    border-radius: 4px;
    background-color: #333;
    color: white;
}

#search-results {
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #555;
    border-radius: 4px;
    background-color: #333;
    color: white;
}

.search-result-item {
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.search-result-item:hover {
    background-color: #555;
}

.player-thumbnail {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.player-tag {
    display: inline-flex;
    align-items: center;
    background-color: #444;
    padding: 5px 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px; /* Add space between tag and league filters */
}

.remove-tag {
    margin-left: 10px;
    cursor: pointer;
}

.main-content {
    width: 60%;
    position: relative;
    padding: 1px;
    display: flex;
    justify-content: center; /* Center the pitch horizontally */
    align-items: center; /* Center the pitch vertically */
}

#chart {
    position: relative;
}

#pitch-image {
    width: 550px; /* Set desired width */
    height: 700px; /* Set desired height */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#league-filters-label {
    margin-top: 20px;
    font-size: 18px;
    color: #ddd;
}

#league-filters {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.filter-button {
    background-color: #333;
    border: 1px solid #555;
    border-radius: 4px;
    color: white;
    padding: 5px 10px;
    font-size: 17px; /* Increased font size for league buttons */
    cursor: pointer;
    user-select: none;
}

.filter-button.active {
    background-color: #555;
    border-color: #777;
}

#sorters-label {
    margin-top: 20px;
    font-size: 18px;
    color: #ddd;
}

#sorters {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sort-button {
    background-color: #333;
    border: 1px solid #555;
    border-radius: 4px;
    color: white;
    padding: 5px 10px;
    font-size: 17px;
    cursor: pointer;
    user-select: none;
}

.player-card {
    text-align: center;
    padding: 20px;
    background: linear-gradient(to bottom, #2e2e2e, #1c1c1c); /* Gradient background */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: auto; /* Adjust height to fit content */
}

/* Player Info Header */
.player-info-header h2 {
    font-size: 20px;
    font-weight: bold;
    color: #f0f0f0;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase; /* Uppercase for header */
    letter-spacing: 2px; /* Spacing between letters */
}

/* Header Section */
.header-section {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Reduce margin between header and info section */
}

.player-profile-pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
}

.player-details {
    display: flex;
    flex-direction: column;
}

.player-name {
    font-size: 24px;
    font-weight: bold;
    margin: 0; /* Remove margin to reduce space */
}

.player-info {
    font-size: 16px;
    color: #aaa; /* Lighter color for additional info */
    margin-top: 2px; /* Small margin to create a closer layout */
    align-self: flex-start; /* Align to the start of the container */
}

/* Info and Key Stats Section */
.info-stats-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.info-stats-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.info-section, .key-stats-section {
    width: 45%;
    margin-bottom: 20px;
}

.info-element, .stat-element {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.info-label, .stat-label {
    font-weight: bold;
    font-size: 14px;
}

.info-value, .stat-value {
    text-align: right;
    font-size: 14px;
}

/* Radar Chart Container */
#radar-chart {
    width: 100%; /* Adjust to fit within column */
    height: 200px; /* Adjust height to fit within card */
    margin: 0 auto;
}

/* Tooltip */
.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 5px;
    font: 12px sans-serif;
    background: rgba(0, 0, 0, 0.7);
    border: 0;
    border-radius: 4px;
    pointer-events: none;
    color: white;
}
